<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	PreparedStatement / ResultSet : SQL
	mybatis => ORM => 관계형데이터베이스를 연동하는 클래스의 집합
	hibernate=> JPA
	public BoardVO findByNO(int no);
								 ======
								 WHERE no =10
 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper.xml">
<!--  목록 출력 -->
 <select id="boardListData" resultType="BoardVO" parameterType="hashmap" >
SELECT no,name,subject,regdate,hit,num
FROM (SELECT no,name,subject,regdate,hit,rownum as num
FROM (SELECT no,name,subject,regdate,hit
FROM board ORDER BY no DESC))
WHERE num BETWEEN #{start} AND #{end}
 </select>
 <!-- 총페이지 구하기 -->
 <select id="boardTotalPage" resultType="int">
 	SELECT CEIL(COUNT(*)/10.0) FROM board
 </select>
 <!-- 조회수 증가 -->
 <update id="hitIncrement" parameterType="int">
 	UPDATE board SET
 	hit=hit+1
 	WHERE no=${no}
 </update>
 <!-- 상세보기 -->
 <select id="boardDetailData" resultType="BoardVO" parameterType="int">
 	SELECT no,name,subject,content,regdate,hit
 	FROM board
 	WHERE no=#{no}
 </select>
 <!-- 글쓰기 -->
 <insert id="boardInsert" parameterType="Boardvo">
 <!-- myBatis의 sequence: 자동 증가번호 -->
 <selectKey keyProperty="no" resultType="int" order="BEFORE">
 	SELECT NVL(Max(no)+1,1)as no FROM board
 </selectKey>
 INSERT INTO board
 VALUES(#{no},#{name},#{subject},#{content},#{pwd},SYSDATE,0)
 </insert>
 <!-- 삭제하기 -->
 <!-- 수정하기 -->
</mapper>